@gameWidth: 820px;

@clients-list-width: 200px;
@clients-list-min-height: 300px;
@client-item-height: 40px;
@client-item-btn-height: 30px;

@accordion-header-height: 40px;

@toolbar-height: 40px;

@player-next-button: 30px;

@player_color_blue: #2196F3;
@player_color_red: #f44336;

@text-color-dark: #414141;
@text-color-light: #000000;

@color-dark: #e4e5e7;
@color-toolbar: #2e3e4e;
@color_next_button: #565177;

@color-control: #565177;

@game-background-color: #ffffff;
@default-player-color: #FF0000;

@default-font-size: 16px;

@menu-btn-mobile-size: 70px;
