<div class="tabbar-header" ng-show="tabbarCtrl.isHeadersVisible">
    <div class="tabbar-header-item {{tabbarCtrl.tabbarHeaderClassName}}"
         ng-class="{'tabbar-header-item-selected': tab.isActive}"
         ng-repeat="tab in tabbarCtrl.context.list track by tab.id"
         ng-click="tabbarCtrl.openTab(tab)">
        <ng-md-icon class="tabbar-header-icon" ng-if="tab.icon" icon="{{::tab.icon}}" style="" size="24"></ng-md-icon>
        <span ng-bind="::tab.name"></span>
    </div>
</div>
<div class="tabbar-content-container">
    <ng-transclude></ng-transclude>
</div>

