<div class="user-profile">
    <div class="user-profile-icon">
        <img class="user-profile-icon" ng-src="{{userProfileCtrl.user.icon}}"/>
    </div>
    <div class="user-profile-center-block">
        <div class="user-profile-name" ng-bind="::userProfileCtrl.user.name"></div>
    </div>
    <div class="user-profile-right-block">
        <div ng-if="userProfileCtrl.user.auth"
             class="user-profile-logout user-profile-{{userProfileCtrl.user.auth.type}}">
            <a class="logout-btn"ng-click="userProfileCtrl.logout()">Logout</a>
        </div>
    </div>
</div>