<div class="client-history-list">
    <div class="client-history-placeholder">
        <div ng-repeat="record in clientHistoryCtrl.historyList track by record._id| orderBy: '-name'" class="client-history-item">
            <div class="client-history-item-left">
                <div class="client-name">Myself</div>
            </div>
            <div class="client-history-item-right">
                <div class="client-name" ng-bind="record.opponent.name"></div>
            </div>
            <div class="client-history-item-score" ng-bind="record.myself.gameData.trappedDots + '&emsp;/&emsp;' + record.opponent.gameData.trappedDots">
            </div>
        </div>
    </div>
</div>