@import (reference) "../variables";

@buttons-container-size: 150px;
@buttons-reject: 100px;
@buttons-succes: 50px;

@client-btn-background: #565177;
@clients-background: lighten(@color-dark, 5%);
@client-background: @clients-background;
@clients-list-height: 300px;
@hover-client-background: darken(@clients-background, 3%);

clients-list {
  .empty-list {
    color: lightgrey;
    line-height: @clients-list-height;
    text-align: center;
  }

  .clients-placeholder {
    margin: 5px 0;
  }

  .client {
    height: @client-item-height;
    line-height: @client-item-height;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: @client-item-height;
    position: relative;
    cursor: pointer;
    color: @text-color-dark;

    &-name {
      color: @text-color-light;
      margin-left: 10px;
    }

    &:hover {
      color: @text-color-light;
      background-color: @hover-client-background;
      .invite-btns-container:not(.ng-hide) {
        .invite-mark {
          right: -@client-item-height;
        }
        .btn-invite-submit,
        .btn-invite-reject {
          top: 0;
        }
        button {
          opacity: 1;
        }
      }
    }

    .btn-client {
      margin: 5px 5px 5px 0;
      border: 1px solid @client-btn-background;
      color: @client-btn-background;
      &:hover {
        background-color: @client-btn-background;
        color: #ffffff;
      }
    }

    .btn-invite {
      margin: calc((@client-item-height - @client-item-btn-height) / 2);
      height: @client-item-btn-height;
      width: @client-item-btn-height;
      right: calc((-2) * @client-item-btn-height);
      border-radius: 50%;
      cursor: pointer;
    }

    .invite-btns-container {
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: @buttons-container-size;

      button {
        height: 30px;
        line-height:30px;
        border-radius: 2px;
        cursor: pointer;
        font-size: 1em;
        opacity: 0;
      }

      .invite-mark {
        border: 1px solid lighten(#22502C, 30%);
        border-radius: 2px;
        background-color: #6bd181;
        font-size: .8em;
        color: #22502C;
        display: table;
        padding: 3px;
        line-height: .8em;
        margin: auto;
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        opacity: 1;
      }

      .btn-invite-submit,
      .btn-invite-reject {
        top: calc(@client-item-height * 2);
        opacity: 1;
        position: relative;
        float: left;
        margin: 5px 0;
      }

      .btn-invite-submit {
        width: calc(@buttons-succes - 2);
      }
      .btn-invite-reject {
        width: calc(@buttons-reject - 2);
      }

        &.ng-hide {
        .invite-mark {
          opacity: 0;
        }
      }
    }
  }

  .btn-right {
    position: absolute;
    right: 0;
    top: 0;
  }

}