<div class="clients-list">
    <div class="clients-search">
        <input class="clients-search-input" ng-model="clientsListCtrl.query.search"
               ng-model-options="{debounce: 300}" placeholder="Type to search...">
    </div>
    <div class="clients-placeholder">
        <div ng-repeat="client in clientsListCtrl.clientsList track by client._id| orderBy: '-name'" class="client">
            <span class="client-name" ng-bind="client.name"></span>
            <div ng-show="client.mode == 'common'" class="invite-btns-container">
                <button class="btn-override btn-right btn-invite-ask btn-client" ng-click="clientsListCtrl.invite(client)">
                    <ng-md-icon icon="send" style="" size="24"></ng-md-icon>
                </button>
            </div>
            <div ng-show="client.mode == 'invite'" class="invite-btns-container">
                <button class="btn-override btn-right btn-invite-submit btn-client" ng-click="clientsListCtrl.submitInvite(client)">
                    <ng-md-icon icon="thumb_up" style="" size="24"></ng-md-icon>
                </button>
                <button class="btn-override btn-right btn-invite-reject btn-client" ng-click="clientsListCtrl.rejectInvite(client)">
                    <ng-md-icon icon="thumb_down" style="" size="24"></ng-md-icon>
                </button>
            </div>
        </div>
        <div ng-if="clientsListCtrl.hasNext" class="client load-more" ng-click="clientsListCtrl.loadNext()">
            <ng-md-icon class="icon" icon="more_horiz" style="" size="24"></ng-md-icon>
        </div>
        <div ng-if="!clientsListCtrl.clientsList.length" class="empty-list">No gamers...</div>
    </div>
</div>