<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3JS</title>
    <script src="/static/js/ext/require-2.2.0.min.js"></script>
    <script src="/static/js/ext/jquery-2.2.1.min.js"></script>
    <script src="/static/js/game1.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
</head>
<body>
    <div class="game-viewport">
        <svg id="game-pane" width="820" height="820">

        </svg>
    </div>
</body>
</html>