<div ng-hide="playerMenuCtrl.isMenuClosed" class="player-menu">
    <div class="player-menu-clients">
        <div ng-if="playerMenuCtrl.opponent" class="opponent-player">
            <div class="player-menu-opponent-name">{{playerMenuCtrl.opponent.name}}</div>
            <button class="btn-override btn-right btn-opponent" ng-click="playerMenuCtrl.cancelGame(client)">Cancel
                game
            </button>
        </div>
        <tabbar context="playerMenuCtrl.config">
            <tabbar-content tab-id="playerMenuCtrl.TABS.GAMERS">
                <clients-list></clients-list>
            </tabbar-content>
            <tabbar-content tab-id="playerMenuCtrl.TABS.SIGNIN">
                <sign-in></sign-in>
            </tabbar-content>
        </tabbar>
    </div>
</div>