<div ng-hide="playerMenuCtrl.isMenuClosed" class="player-menu">
    <div class="player-menu-clients">
        <div ng-if="playerMenuCtrl.opponent" class="opponent-player">
            <div class="player-menu-opponent-name">{{playerMenuCtrl.opponent.name}}</div>
            <button class="btn-override btn-right btn-opponent" ng-click="playerMenuCtrl.cancelGame(client)">Cancel
                game
            </button>
        </div>
        <tabbar>
            <tabbar-header context="tab" ng-repeat-start="tab in playerMenuCtrl.config.tabbar"></tabbar-header>
            <clients-list ng-if="playerMenuCtrl.TABS.GAMERS === tab.id"></clients-list>
            <sign-in ng-if="playerMenuCtrl.TABS.SIGNIN === tab.id" ng-repeat-end></sign-in>
        </tabbar>
    </div>
</div>