<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<title>D3JS</title>
<link rel="stylesheet" type="text/css" href="/static/style/style.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<script src="/static/js/common.bundle.js"></script>
</head>
<body>
<game></game>
</body>
</html>