<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<title>D3JS</title>
<script src="/static/js/ext/require-2.2.0.min.js"></script>
<script src="/static/js/game.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style/style.css">
</head>
<body>
<game></game>
</body>
</html>