@import (reference) "./variables";

clients-list {
  position: absolute;
  top: 0;
  right: 0;
  width: @clients-list-width;
  min-height: @clients-list-min-height;
  background-color: @color-dark;

  .clients-placeholder {
    margin: 5px 0;
  }

  .client {
    height: @client-item-height;
    line-height: @client-item-height;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .2s;
    background-color: @color-dark;
    position: relative;

    &:hover {
      background-color: lighten(@color-dark, 20%);
      .btn-invite {
        right: 0;
      }
    }
    .btn-invite {
      margin: calc((@client-item-height - @client-item-btn-height) / 2);
      height: @client-item-btn-height;
      width: @client-item-btn-height;
      background-color: @color_next_button;
      box-shadow: 0px 0px 6px darken(@color_next_button, 15%);
      right: calc((-2) * @client-item-btn-height);
      transition: right .3s;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .btn-right {
    position: absolute;
    right: 0;
    top: 0;
  }

}