@import (reference) "./variables";

.current-player {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;

  .myself-player,
  .opponent-player,
  .choose-opponent {
    position: absolute;
  }

  .myself-player {
    left: 0;
  }

  .choose-opponent,
  .opponent-player {
    right: 0;
  }

  .choose-opponent a{
    height: @toolbar-height;
    line-height: @toolbar-height;
    text-decoration: none;
    border-bottom: 1px @text-color-dark dashed;
    color: @text-color-dark;
    &:hover {
      color: @text-color-light;
      border-bottom: 1px @text-color-dark dashed;
    }
  }

  >div,
  >a {
    float: left;
  }
  .players-list {
    overflow: hidden;
    height: @toolbar-height;
  }

  .player {
    height: @toolbar-height;
    line-height: @toolbar-height;
    text-align: center;
  }
}

.player-next {
  background-color: #565177;
  width: 120px;
  height: @toolbar-height;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  line-height: @toolbar-height;
  text-align: center;
  text-decoration: none;
}

.active-player {

}

.player-style-red {
  background-color: #ff3616;
}

.player-style-blue {
  background-color: #4b8bff;
}