@import (reference) "./variables";

player-menu {
  .player-menu {
    position: fixed;
    width: 100%;
    min-height: 300px;
    background-color: lighten(@color-dark, 10%);
    top: @toolbar-height;
    left: 0;

    .player-menu-clients {
      width: 820px;
      margin: auto;
    }
  }
}