<div class="col-center">
    <div class="bar left-bar"></div>
    <div class="game-viewport">
        <div>
            <svg id="game-pane" width="820" height="820"></svg>
        </div>
    </div>
    <div class="bar right-bar">
        <clients-list></clients-list>
    </div>
</div>
<toolbar>
    <transclude-center>
        <current-player></current-player>
    </transclude-center>
    <transclude-right>
        <player-score></player-score>
    </transclude-right>
</toolbar>
<invite-popup></invite-popup>