<div class="current-player">
    <button class="btn-override menu-open"
            ng-click="currentPlayerCtrl.triggerOpenMenu()">
        <ng-md-icon class='menu-open-icon' icon="{{currentPlayerCtrl.isMenuOpened ? 'close' : 'menu'}}"
                    style="fill: #ffffff;" size="24"></ng-md-icon>
    </button>
    <div class="player-placeholder-left">
        <button class="myself-player player {{currentPlayerCtrl.style.myself}}"
                ng-class="{'inactive-player': !currentPlayerCtrl.isMyselfActive && currentPlayerCtrl.opponent,
             'active-player': currentPlayerCtrl.isMyselfActive && currentPlayerCtrl.opponent}">
            <div class="player-style" ng-click="currentPlayerCtrl.openMyself()">
                <span ng-bind="currentPlayerCtrl.myself.name"></span>
                <span class="myself-player-you">(you)</span>
            </div>
        </button>
        <div ng-show="currentPlayerCtrl.opponent" class="player-trapped-dots {{currentPlayerCtrl.style.myself}}"
             ng-bind="currentPlayerCtrl.myself.trappedDots.length || 0"></div>
    </div>

    <div class="player-placeholder-right">
        <div ng-show="currentPlayerCtrl.opponent">
            <div class="player-trapped-dots {{currentPlayerCtrl.style.opponent}}"
                 ng-bind="currentPlayerCtrl.opponent.trappedDots.length || 0"></div>
            <div class="opponent-player opponent-block player {{currentPlayerCtrl.style.opponent}}"
                 ng-class="{'inactive-player': !currentPlayerCtrl.isOpponentActive,
                 'active-player': currentPlayerCtrl.isOpponentActive}">
                <div class="player-style" ng-bind="currentPlayerCtrl.opponent.name"></div>
            </div>
        </div>
        <button ng-show="!currentPlayerCtrl.opponent" href="javascript:void(0)" type="button"
                class="choose-opponent player"
                ng-click="currentPlayerCtrl.triggerOpenMenu()">
            Choose opponent
        </button>
    </div>
    <div>
        <notification></notification>
    </div>
</div>